* text=auto
*.rs text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.py text eol=lf
*.nsi text eol=lf
*.png binary
*.ico binary
*.rgba binary
*.otf binary
vendor/region-restriction-check/cookies text eol=lf
vendor/region-restriction-check/IATACode.txt text eol=lf
